* {box-sizing: content-box;}

/*img {
    position: relative;
    top: 5px;
    left: 0%;
    flood-color: #b7b7b7;
}
*/
.heady {
    z-index: 2;
    overflow-x:scroll;
    flood-color: #5a5a5a !important;
    padding: 0px, 0px;
    margin: 0px, 0px;
    width: 33vw;
    height: 40vh;
}

.body {
    width: 75;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    position: relative;
    text-align: center;
    background-color: #5a5a5a;
}


div {
    z-index: -2;
    position: relative;
    background-color: #999999;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
